<?xml version='1.0' encoding='utf-8'?>
<widget id="com.trg.trading.app.officaial" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TESTRITE</name>
    <description>
        Testrite Official App
    </description>
    <author email="eric.yu@testritegroup.com" href="http://www.testritegroup.com/">
      Testrite Group Information Department
    </author>
    
    <icon src="res/1024_1024_icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <!-- Don't store local data in an iCloud backup. Turn this to "cloud" to enable storage 
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
